


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>Registrar Nueva Venta</h4>
    <div class="btn-toolbar mb-2 mb-md-0">      
      <!-- <button type="button" class="btn btn-sm btn-outline-secondary" (click)="optionSaveSale(0)">              
        + Save Sale
      </button> -->
	  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="optionSaveSale(0)">              
        + Guardar venta
      </button>
    </div>
</div>
  <!-- <p>parra x</p> -->
  <h4>Producto ZT</h4>
  <br>
		
		<form #formularioProducto="ngForm" (ngSubmit)="formProductSend()">
			<input type="text" name="producto" placeholder="Nombre del producto" [(ngModel)]="productoZtModel.nombre">
			<br><br>
			<!--			
			<input type="number" name="precio" placeholder="Precio" [(ngModel)]="productoZtModel.precio">
			<br><br>			
            <input type="text" name="precio" placeholder="Precio" [(ngModel)]="productoZtModel.precio">
			<br><br> -->
			
            <!-- <input type="text" name="producto" placeholder="Nombre del producto" >
			<br><br>			 -->
			<input type="number" name="precio" placeholder="Precio" [(ngModel)]="productoZtModel.precio">
			<br><br>
            
			
			<button type="submit" class="btn btn-sm btn-outline-secondary">Guardar venta</button>
		</form>

		<!-- <h2>Depurando ... </h2>
		{{ productoZtModel | json }} -->
<br><br>
<hr>
